<div class="event">
  <div class="event--date">
    <span class="month">Jan</span> <span class="day">25</span>
  </div>
  <div class="event--info">
    <div class="event--title">Really awesome library event</div>
    <div class="event--time">12:00pm</div>
  </div>
</div>
<div class="event">
  <div class="event--date">
    <span class="month">Jan</span> <span class="day">25</span>
  </div>
  <div class="event--info">
    <div class="event--title">Really awesome library event</div>
    <div class="event--time">12:00pm</div>
  </div>
</div>
<div class="event">
  <div class="event--date">
    <span class="month">Jan</span> <span class="day">25</span>
  </div>
  <div class="event--info">
    <div class="event--title">Really awesome library event</div>
    <div class="event--time">12:00pm</div>
  </div>
</div>
<div class="event">
  <div class="event--date">
    <span class="month">Jan</span> <span class="day">25</span>
  </div>
  <div class="event--info">
    <div class="event--title">Really awesome library event</div>
    <div class="event--time">12:00pm</div>
  </div>
</div>
