$subfooter-red: #731A03;
$upei-red: #8c2004;
$upei-yellow: #fbb040;
$upei-green: #5c8727;

$modularscale: (
  base: 1em,
  ratio: 1.5
);

$ms0: ms(0);
$ms1: ms(1);
$ms2: ms(2);
$ms3: ms(3);
$ms4: ms(4);
$ms5: ms(5);
$ms6: ms(6);
$ms7: ms(7);
$ms8: ms(8);
