.region-footer {
  background: $upei-red;
  color: #fff;
  padding: calc($global-padding * 2);
}
.region-subfooter {
  background: $subfooter-red;
  color: #fff;
  padding: calc($global-padding * 2);
}
