header {
  padding-top: $global-padding;
  padding-bottom: $global-padding;
	box-shadow: 0px 4px 5px 0px #D4D6D8;
}
.region-header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
