header {
  padding-top: $global-padding;
  padding-bottom: $global-padding;
  box-shadow: 0px 4px 5px 0px #d4d6d8;
}
.region-header {
  @include breakpoint(large) {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }
}
