//@format
/*topnav*/
$nav-text-color: $white;
$nav-height: 75px;
$nav-background: #2c3840;
$offcanvas-padding: 20px;
.top-bar {
  ul.menu a {
    color: #fff;
    border-left: 2px solid #333;
  }
  ul.menu a.is-active {
    color: $upei-yellow;
  }
  ul.menu a:hover {
    text-decoration: underline;
  }
}
.topnav__wrapper {
  background: $topbar-background;
}
