//@format
/*topnav*/
$nav-text-color: $white;
$nav-height: 75px;
$nav-background: #2c3840;
$offcanvas-padding: 20px;
.top-bar {
  ul.menu a {
    color: #fff;
    border-left: 2px solid #333;
    font-size: ms(-1);
  }
  ul.menu a.is-active {
    color: $upei-yellow;
  }
  ul.menu a:hover {
    text-decoration: underline;
  }
  &-right {
    display: flex;
  }
}
.topnav__wrapper {
  background: $topbar-background;
}
.menu-trigger {
  background-color: transparent;
  margin: 0;
  &:hover {
    background-color: transparent;
  }
  @include breakpoint(small down) {
    @include hamburger(#fff, #fff, 20px, 20px, 2px, 3);
  }
}
//icons
